<% if @repo %>
    <h2><span class="glyphicon glyphicon-search" aria-hidden="true"></span><%= @repo.name %></h2>
    <ul>
        <% @contributors.each_with_index do |contributor, i| %>
            <li><%= contributor.login %> <%= link_to "Download pdf", controller: "main_page", action: "download", format: :pdf, name: "#{contributor.login}", index: "#{i+1}" %>  </li>
        <% end %>
    </ul>
<% end %>

<%= link_to "Download zip (#{@names.count})", controller: "main_page", action: "download", format: :zip, names: @names %>